<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TinderAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22B3ECB61C292D76008BF87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B3ECCA1C292D76008BF87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B3ECD51C292D77008BF87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
